generated_checkpoints/**
!generated_checkpoints/.gitkeep

generated_images/**
!generated_images/.gitkeep

saved_models/**
!saved_models/.gitkeep

source_images/**
!source_images/.gitkeep

.pylintrc
.python-version
__pycache__
