saved_models/**
!saved_models/.gitkeep

source_images/**
!source_images/.gitkeep

generator_checkpoints/checkpoint
generator_checkpoints/ckpt-*.*
generator_checkpoints_*
generator_images/*.png
generator_images/*.mp4
generator_images_*

.pylintrc
.python-version
